/* *{
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;

} */
.head {
  color: #ffff;
}

.head li a {
  color      : #ffff;
  font-weight: 500;
}

.user-form p {
  color      : #397EF6;
  font-weight: 500;
}

.user-form p span {
  color: #a3a3a3;
}

.user-form label {
  color      : #a3a3a3;
  font-weight: 400;
}

.user-form button {
  background-color: #397EF6;
  color           : #fff;
}

.user-form input {
  color    : #a3a3a3;
  font-size: 13px;
}

.form-left img {
  height: 550px;
  width : 100%;
}

.user-logout {
  position: relative;
}

.image {
  display: block;
  width  : 30px;
  height : auto;
  top    : 3px;
  left   : 5px;
}

.overlay {
  position                  : absolute;
  left                      : 2px;
  top                       : 20px;
  border-bottom-left-radius : 8px;
  border-bottom-right-radius: 8px;
  background                : #f1f1f1;
  width                     : 35px;
  transition                : .5s ease;
  opacity                   : 0;
  color                     : white;
  font-size                 : 10px;
  font-weight               : normal;
  text-align                : center;
  color                     : #000 !important;
  cursor                    : pointer;
}

.user-logout:hover .overlay {
  opacity: 1;
}

.ag-theme-alpine {
  --ag-header-height      : 30px;
  --ag-border-color       : #FCFCFC;
  margin-top              : 20px;
  --ag-borders-row        : dashed 5px;
  /* --ag-row-border-color: rgb(150, 150, 200); */

  --ag-header-foreground-color: black;
  --ag-header-background-color: rgba(0, 0, 0, 0.267);

  /* text-align: center; */
  /* then add back a border between rows */
  --ag-borders-row        : dashed 1px;
  /* --ag-row-border-color: black; */

}

/* 
.ag-theme-alpine .ag-header {
  font-family: 'Times New Roman', Times, serif;
} */
.ag-theme-alpine .ag-header-group-cell {
  font-weight     : normal;
  font-size       : 22px;
  --ag-borders-row: dashed 1px;
}

.ag-theme-alpine .ag-header-cell {
  font-size: 14px;
}

.example-wrapper {
  display       : flex;
  flex-direction: column;
  height        : 100%;
}

.grid-wrapper {
  flex : 1 1 0px;
  width: 100%;
}

#myGrid {
  height: 100%;
}